<div class="link-ppdb">  
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-9 py-6 wow fadeInLeft">
            <div class="d-flex flex-row">
              <div class="img-fluid mr-3">
                <img src="{{ asset('img/icon_pattern.svg') }}" alt="">
              </div>
              <div>
                <h2 class="title-section">Alur PPDB</h2>
                <div class="divider"></div>
              </div>
            </div>
          </div>
        </div>
        <p>
        <div class="row justify-content-center">
        {% for alur in alurs %}
          <div class="col-lg-3 px-2 mb-2 wow fadeInLeft">
              <div class="card" width="15rem" style="height:500px; box-shadow: 0 8px 24px 0 rgb(65 50 75 / 10%); border-radius:15px">
                <img src="{{alur.image}}"  width="200px" height="200px" class="card-img-top" style="padding: 20px 20px 20px 20px; object-fit: cover;" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-size:20px;">{{alur.title}}</h5>
                  <p class="card-text" style="font-size:13px; text-align:justify">{{alur.desc[:287]}}...</p>
                  {% if alur.link is not empty %}
                  <div class="footer text-center" style="width:225px; position:absolute; top: 450px;">
                    <a href="{{alur.link}}" class="btn btn-primary rounded-pill" style="font-size:14px">{{alur.label_link}}</a>
                  </div>
                  {% endif %}
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>